/* Dashboard.css */

.dashboard-container {
  height: 100vh;            /* Toma todo el alto de la ventana */
  overflow-y: auto;         /* Scroll vertical si hay muchas prendas */
  padding: 20px;
  background-color: white;
}

.prendas-lista {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.prenda-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: poi
}